<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Buscar Tweets</h2>

      <!-- <form (ngSubmit)="onSubmit($event);"> -->
        <div class="input-group">
          <input type="text" #box (keyup)="onKey($event, box.value)" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="getTweets();">Buscar</button>
          </div>
        </div>
        <div class="btn-group btn-group-toggle mt-1" data-toggle="buttons">
            <label class="btn btn-secondary" [class.active]="order=='asc'">
              <input type="radio" name="options" id="option1" autocomplete="off" (click)="changeOrder('asc');"> Menos reciente
            </label>
            <label class="btn btn-secondary" [class.active]="order=='desc'">
              <input type="radio" name="options" id="option2" autocomplete="off" (click)="changeOrder('desc');"> Más reciente
            </label>
          </div>
      <!-- </form> -->
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let tweet of list">
            <div class="media col-12">
              <img class="mr-3 rounded" [src]="tweet.img" alt="Img">
              <div class="media-body">
                <h5 class="mt-0">
                  <strong>{{tweet.name}}</strong>
                  &nbsp;&nbsp;
                  <span>@{{tweet.screen_name}}</span>
                  &nbsp;&nbsp;
                  <span>{{tweet.created[2]}} {{tweet.created[1]}} {{tweet.created[5]}}</span>
                </h5>
                <hr>
                <p class="text-justify">
                  {{tweet.text[0]}} ...
                  <a [href]="tweet.text[1]" target="_blank">{{tweet.text[1]}}</a>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
